body {
    display: flexbox;
    font-size: 16px;
    width: 100%;
    background-color: aqua;
    margin: 0 0;
    box-sizing: border-box;
}

div {
    display: flex;
}

nav {
    display: flex;
    z-index: 1;
}

.bold {
    font-weight: bold;
}

.menu {
    display: flex;

}

.nav-bar img {
    display: flex;
    height: 32px;
    width: auto;
}
ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-items: center;
}

a {
    color: black;
    text-decoration: none;
}

#on-campus {
    display: flex;
    align-items: center;
    justify-items: center;
}

#online {
    display: flex;
    align-items: center;
    justify-items: center; 
}

#for-companies {
    display: flex;
    align-items: center;
    justify-items: center;
}

#login {
    display: flex;
    align-items: center;
    justify-items: center;
}

.start {
    margin: 0 0;
    position: relative;
    top: 64px;
    left:0;
    background-color: gainsboro;
    align-items: center;
}

button {
    width: 100%;
    padding: 8px;
    background-color: gray;
    color: white;
    border-color: gray;
}

.orientation {
    background-color: white;
    position: relative;
    top: 64px;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
}
.orient-left {
    display: flexbox;
    padding: 32px 24px;
    height: auto;
}
.orient-img {
    display: flex;
    background-image: url("../images/information-main.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.orient-right {
    display: block;
    height:auto;
}
/*
.orient-right div{
    display: block;
    background-color: white;
    padding: 16px;
    height:auto;
}
*/
.orient-1 {
    display: flex;
    background-image: url("../images/information-orientation.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 35%;
    height: 150px;
}
.orient-2 {
    display: flex;
    background-image: url("../images/information-campus.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 35%;
    height: 150px;
}
.orient-3 {
    display: flex;
    background-image: url("../images/information-guest-lecture.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 35%;
    height: 150px;
}
.orient-text {
    display: block;
    width: 65%;
    align-items: center;
    height: auto;
    padding-left: 16px;
}
.orient-text p,h3 {
    margin: 0;
}
.orient-text p {
    padding: 8px 0;
}
.hor {
    border: 1px dotted;
    display: flex;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
}
.vertical {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}
.horizontal {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}
.learning {
    position: relative;
    top: 64px;
    background-color: gainsboro;
    padding: 32px 72px;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
}
.learning h2 {
    margin: 0 0 32px 0;
}
.cards {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 32px;
    justify-content: space-between;
}
.card-items {
    width: 31%;
}
.apple {
    width: 100%;
    height: auto;
    background-color: white;
}
.image-1 {
    display: flex;
    background-image: url("../images/course-software.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 25vh;
}
.text {
    width: 100%;
    height: auto;
    padding: 16px 16px 24px 16px;
}
.text p {
    padding-top: 8px;
}
.image-2 {
    display: flex;
    background-image: url("../images/course-computer-art.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 25vh;
}
.image-3 {
    display: flex;
    background-image: url("../images/course-design.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 25vh;
}
.image-4 {
    display: flex;
    background-image: url("../images/course-data.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 25vh;
}
.image-5 {
    display: flex;
    background-image: url("../images/course-business.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 25vh;
}
.image-6 {
    display: flex;
    background-image: url("../images/course-marketing.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 25vh;
}
.thesis {
    position: relative;
    top: 64px;
    padding: 32px 24px;
    background-color: white;
}
.thesis-left-side {
    width: 60%;
    padding-right: 24px;
}
.thesis-right-side {
    width: 40%;
}
.thesis-video {
    padding-bottom: 24px;
}
.thesis-container {
    padding: 16px 16px;
}
.thesis-text {
    width: 65%;
    align-items: center;
    padding-left: 16px;
}
.thesis-image-1 {
    display: flex;
    background-image: url("../images/thesis-fisma.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 35%;
    height: auto;
}
.thesis-image-2 {
    display: flex;
    background-image: url("../images/thesis-now-and-then.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 35%;
    height: auto;
}
.thesis h2 {
    text-align: center;
    padding-bottom: 32px;;
}
.thesis-left-side h4 {
    padding-bottom: 8px;
}
.gray {
    background-color: gainsboro;
}
.footer {
    position: relative;
    top: 64px;
    border-top: 1px dotted;
    padding: 16px 24px;
    background-color: white;
}
.list2 {
    justify-content: space-between;
}
#terms {
    padding-right: 16px;
}


/* for laptop */

@media only screen and (min-width: 600px) {
    .nav-bar {
        height: 64px;
        display: flex;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: flex-end;
        align-items: center;
    }
    .logo {
        display: flex;
        margin-right: auto;
        align-items: center;
    }
    .nav-img {
        margin-left: 24px;
    }
    #on-campus {
        margin-right: 24px;  
    }
    #online {
        margin-right: 16px;   
    }
    #for-companies {
        margin-right: 16px;    
    }    
    #login {
        margin-right: 24px;
    }
    .start img {
        width: 60%;
        padding: 32px 24px;
    }
    #phone-img {
        display: none;
    }
    li img {
        display: none;
    }
    .a {
        display:  none;
    }
    .start-text {
        width: 40%;
        height:auto;
        align-items: center;
        display: block;
        padding-right: 72px;
    }
    .orient-left {
        display: block;
        width: 60%;
        height: auto;
    }
    .orient-right {
        width:40%;
    }
}


/* for phone*/

@media only screen and (max-width: 600px) {
    .nav-bar {
        height: 64px;
        display: flex;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
    }    
    body {
        font-size: 16px;
        width: 100%;
        background-color: red;
    }    
    .nav-text {
        display: none;
    }
    .menu {
        display: none;
    }
    .logo {
        display: none;
    }
    #phone-img {
        padding: 0;
        display: flex;
        margin: 0 0;
        height: 64;
        width: 100%;
        justify-content: space-around;
    }
    .start img {
        width: 100%;
        padding-bottom: 32px;
    }
    .start {
        display: block;
        padding: 0 16px;
    }
    h1 {
        padding-bottom: 32px;
    }
    h3 {
        padding-bottom: 24px;
    }
    button {
        margin-bottom: 32px;
    }
    .start-text {
        width: 100%;
        height:auto;
        display: block;
        padding:
    }
    .orient-left {
        display: none;
    }
    .hor {
        border: 0 none;
    }
    .learning {
        padding: 32px 16px;
        background-color: white;
        border: 1px dotted;
    }
    .apple {
        background-color: gainsboro;
    }
    .text p{
        display: none;
    }
    .card-items {
        width: 100%;
        text-align: start;
        font-size: large;
    }
    .image-1 {
        display: none;
    }
    .image-2 {
        display: none;
    }
    .image-3 {
        display: none;
    }
    .image-4 {
        display: none;
    }
    .image-5 {
        display: none;
    }
    .image-6 {
        display: none;
    }
    .thesis-right-side {
        display: none;
    }
    .thesis-left-side {
        width: 100%;
        padding: 0;
    }
    .thesis-left-side h4,p {
        display: none;
    }
    .thesis {
        padding: 32px 0 24px 0;
    }
}